<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Error</title>
    </head>
    <body>
        <div class="container">
        <h1>You did not enter any text!</h1>
        <br>
        <a class="btn btn-default" href="/">Back to Home</a>
    </div>
    </body>
</html>
