<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>To Do List</title>
    </head>
    <body>
        <div class="container">
        <h1>Tasks</h1>
        {% if tasks is not empty %}
            <p>Here are all your tasks:</p>
            <ul>
                {% for task in tasks %}
                    <li>{{ task.getDescription }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="/tasks" method="post">
            <label for="name">Task Name</label>
            <input id="name" name="name" type="date">

            <button class="btn btn-default" type="submit">Add task</button>
        </form>
        <form action="/delete_tasks" method="post">
            <button class="btn btn-danger" type="submit">Clear</button>
        </form>
        <br/>
        <a href="/"><button class="btn-default">Home</button></a>
    </div>
    </body>
</html>
